# Byte-compiled
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environments
env/
venv/
ml-env/
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Outputs (ML results)
outputs/
models/

# VS Code temp
.vscode/
tempCodeRunnerFile.py